.window {
    width: 400px;
    margin: auto;
    border: 7px solid #1d505d;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 2px #bcc6ff;
    cursor: n-resize;
    
}
.window img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 270px;
    transition: 5s all ease;}

   .window img:hover {
        object-position: bottom;
    }